%section#todoapp
  %header#header
    %h1 Minhas notas
    = simple_form_for @note do |f|
      = f.input :content, label: false, as: :string, input_html: { id: 'new-todo', placeholder: 'Adicione sua nota' }
  %section#main
    %ul#todo-list
      - if @notes.any?
        - @notes.each do |note|
          %li
            .view
              %label
                = note.content
  %footer#footer
    %span#todo-count
      Total de notas:
      = @notes.size
